body {

    color: rgb(117, 117, 119); background-color: rgb(117, 117, 119); font-family: Georgia, Cambria, serif; font-size: 16px;
    
}
P {
    color: rgb(5, 5, 5); font-family: Verdana, Calibri, sans-serif; font-size: 15px;
}
h1 {
    color: rgb(5, 5, 5); font-family: Verdana, Calibri, sans-serif; font-size: 15px; text-align:left;
}
fieldset{
    color: rgb(5, 5, 5); font-family: Verdana, Calibri, sans-serif; font-size: 15px; text-align:left;
}
legend{
    color: rgb(5, 5, 5); font-family: Verdana, Calibri, sans-serif; font-size: 20px; text-align:left;
}
input{
    color: rgb(5, 5, 5); font-family: Verdana, Calibri, sans-serif; font-size: 15px; text-align:left;
}